force-app/main/default/flows/Candidate_Can_Apply_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_100</name>
        <label>Assign 100</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>PositionNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PositionName_100.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PositionNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PositionName_100</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_200</name>
        <label>Assign 200</label>
        <locationX>490</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>PositionNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PositionName_200.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PositionNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PositionName_200</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_300</name>
        <label>Assign 300</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>PositionNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PositionName_300.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PositionNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PositionName_300</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_400</name>
        <label>Assign 400</label>
        <locationX>1194</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>PositionNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PositionName_400.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PositionNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PositionName_400</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Experience</name>
        <label>Experience?</label>
        <locationX>710</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X0_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Year_of_Experience__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Year_of_Experience__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Position_Pay_100</targetReference>
            </connector>
            <label>0-5</label>
        </rules>
        <rules>
            <name>X6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Year_of_Experience__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Year_of_Experience__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Position_200</targetReference>
            </connector>
            <label>6-10</label>
        </rules>
        <rules>
            <name>X11_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Year_of_Experience__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>11.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Year_of_Experience__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Position_300</targetReference>
            </connector>
            <label>11-15</label>
        </rules>
        <rules>
            <name>X16</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Year_of_Experience__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>16.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Position_400</targetReference>
            </connector>
            <label>16+</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Candidate Can Apply Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Candidate Can Apply Flow</label>
    <loops>
        <name>PositionName_100</name>
        <label>PositionName 100</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>Position_Pay_100</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_100</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Can_Apply_100</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>PositionName_200</name>
        <label>PositionName 200</label>
        <locationX>402</locationX>
        <locationY>575</locationY>
        <collectionReference>Position_200</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_200</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Can_Apply_200</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>PositionName_300</name>
        <label>PositionName 300</label>
        <locationX>754</locationX>
        <locationY>575</locationY>
        <collectionReference>Position_300</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_300</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Can_Appy_300</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>PositionName_400</name>
        <label>PositionName 400</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <collectionReference>Position_400</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_400</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Can_Apply_400</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Position_200</name>
        <label>Position 200</label>
        <locationX>402</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PositionName_200</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pay_Grade__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>200</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Position_300</name>
        <label>Position 300</label>
        <locationX>754</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PositionName_300</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pay_Grade__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>300</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Position_400</name>
        <label>Position 400</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PositionName_400</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pay_Grade__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>400</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Position_Pay_100</name>
        <label>Position Pay 100</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PositionName_100</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pay_Grade__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>100</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Can_Apply_100</name>
        <label>Can Apply 100</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>Can_Apply__c</field>
            <value>
                <elementReference>PositionNames</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Can_Apply_200</name>
        <label>Can Apply 200</label>
        <locationX>402</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>Can_Apply__c</field>
            <value>
                <elementReference>PositionNames</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Can_Apply_400</name>
        <label>Can Apply 400</label>
        <locationX>1106</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>Can_Apply__c</field>
            <value>
                <elementReference>PositionNames</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Can_Appy_300</name>
        <label>Can Appy 300</label>
        <locationX>754</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>Can_Apply__c</field>
            <value>
                <elementReference>PositionNames</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Experience</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Total_Year_of_Experience__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Total_Year_of_Experience__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Candidate__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Position_Deleted</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Position__c</objectType>
    </variables>
    <variables>
        <name>PositionNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
