force-app/main/default/flows/Send_an_Email_to_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Info</name>
        <label>Send Email Info</label>
        <locationX>245</locationX>
        <locationY>522</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SendUpdateInfoEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>OwnerEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Record Updated</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Isupdated</name>
        <label>Isupdated</label>
        <locationX>227</locationX>
        <locationY>379</locationY>
        <defaultConnectorLabel>NotUpdated</defaultConnectorLabel>
        <rules>
            <name>Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Info</targetReference>
            </connector>
            <label>Updated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send an Email to Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send an Email to Owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>117</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Isupdated</targetReference>
        </connector>
        <object>Job_Application__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SendUpdateInfoEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi  {!$Record.Owner:User.FirstName} ;





The below record has been modified successfully.

Id : {!$Record.Id}

Record Name: {!$Record.Name}

Related Position: {!$Record.Position__r.Name}

Status: {!$Record.Status__c}



Thanks!</text>
    </textTemplates>
    <variables>
        <name>OwnerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.Owner:User.Email</elementReference>
        </value>
    </variables>
</Flow>
